@tailwind base;
@tailwind components;
@tailwind utilities;


/********************                            LATO                            ********************/
@font-face{
  font-family: "Lato Regular";
  src: url('../public/fonts/Lato-Regular.ttf');
}
@font-face{
  font-family: "Lato Bold";
  src: url('../public/fonts/Lato-Bold.ttf');
}
@font-face{
  font-family: "Lato Thin";
  src: url('../public/fonts/Lato-Thin.ttf');
}


/********************                           INTER                            ********************/
@font-face{
  font-family: "Inter Regular";
  src: url('../public/fonts/Inter-Regular.ttf')
}
@font-face{
  font-family: "Inter Medium";
  src: url('../public/fonts/Inter-Medium.ttf')
}
@font-face{
  font-family: "Inter Bold";
  src: url('../public/fonts/Inter-Bold.ttf')
}
@font-face{
  font-family: "Inter SemiBold";
  src: url('../public/fonts/Inter-SemiBold.ttf')
}
@font-face{
  font-family: "Inter Thin";
  src: url('../public/fonts/Inter-Thin.ttf')
}


/********************                         MONTSERRAT                            ********************/
@font-face{
  font-family: "Montserrat Regular";
  src: url('../public/fonts/Montserrat-Regular.ttf');
}
@font-face{
  font-family: "Montserrat Medium";
  src: url('../public/fonts/Montserrat-Medium.ttf');
}
@font-face{
  font-family: "Montserrat Bold";
  src: url('../public/fonts/Montserrat-Bold.ttf');
}


/*********************************************** CUSTOM CSS ************************************************/

body{
  background: rgb(33,41,64);
  background: radial-gradient(circle, rgba(33,41,64,1) 0%, rgba(10,10,24,1) 55%);
}

/********************************************* DESKTOP MOVEMENT ********************************************/
.pl-0vw{
  transition: 2s;
  left: 0vw;
}
.pl-3vw{
  transition: 2s;
  left: 3vw;
}
.pl-6vw{
  transition: 2s;
  left: 6vw;
}
.pl-9vw{
  transition: 2s;
  left: 9vw;
}
.pl-12vw{
  transition: 2s;
  left: 12vw;
}
.pl-15vw{
  transition: 2s;
  left: 15vw;
}
.pl-18vw{
  transition: 2s;
  left: 18vw;
}
.pl-21vw{
  transition: 2s;
  left: 21vw;
}
.pl-24vw{
  transition: 2s;
  left: 24vw;
}
.pl-27vw{
  transition: 2s;
  left: 27vw;
}
.pl-30vw{
  transition: 2s;
  left: 30vw;
}
.pl-33vw{
  transition: 2s;
  left: 33vw;
}
.pl-36vw{
  transition: 2s;
  left: 36vw;
}
.pl-39vw{
  transition: 2s;
  left: 39vw;
}
.pl-42vw{
  transition: 2s;
  left: 42vw;
}
.pl-45vw{
  transition: 2s;
  left: 45vw;
}
.pl-48vw{
  transition: 2s;
  left: 48vw;
}
.pl-51vw{
  transition: 2s;
  left: 51vw;
}
.pl-54vw{
  transition: 2s;
  left: 54vw;
}
.pl-57vw{
  transition: 2s;
  left: 57vw;
}
.pl-60vw{
  transition: 2s;
  left: 60vw;
}
.pl-63vw{
  transition: 2s;
  left: 63vw;
}
.pl-66vw{
  transition: 2s;
  left: 66vw;
}
.pl-69vw{
  transition: 2s;
  left: 69vw;
}
.pl-72vw{
  transition: 2s;
  left: 72vw;
}
.pl-75vw{
  transition: 2s;
  padding-left: 75vw;
}
.pl-78vw{
  transition: 2s;
  left: 78vw;
}
.pl-81vw{
  transition: 2s;
  left: 81vw;
}
.pl-84vw{
  transition: 2s;
  left: 84vw;
}


/********************************************* MOBILE MOVEMENT ********************************************/
.pb-0{
  transition: 1s;
  padding-bottom: 0;
}
.pb-1{
  transition: 1s;
  padding-bottom: 2.3vh;
}
.pb-2{
  transition: 1s;
  padding-bottom: 4.6vh;
}
.pb-3{
  transition: 1s;
  padding-bottom: 6.9vh;
}
.pb-4{
  transition: 1s;
  padding-bottom: 9.2vh;
}
.pb-5{
  transition: 1s;
  padding-bottom: 11.5vh;
}
.pb-6{
  transition: 1s;
  padding-bottom: 13.8vh;
}
.pb-7{
  transition: 1s;
  padding-bottom: 16.1vh;
}
.pb-8{
  transition: 1s;
  padding-bottom: 18.4vh;
}
.pb-9{
  transition: 1s;
  padding-bottom: 20.7vh;
}
.pb-10{
  transition: 1s;
  padding-bottom: 23vh;
}
.pb-11{
  transition: 1s;
  padding-bottom: 25.3vh;
}
.pb-12{
  transition: 1s;
  padding-bottom: 27.6vh;
}
.pb-13{
  transition: 1s;
  padding-bottom: 29.9vh;
}
.pb-14{
  transition: 1s;
  padding-bottom: 32.2vh;
}
.pb-15{
  transition: 1s;
  padding-bottom: 34.5vh;
}
.pb-16{
  transition: 1s;
  padding-bottom: 36.8vh;
}
.pb-17{
  transition: 1s;
  padding-bottom: 39.1vh;
}
.pb-18{
  transition: 1s;
  padding-bottom: 41.4vh;
}
.pb-19{
  transition: 1s;
  padding-bottom: 43.7vh;
}
.pb-20{
  transition: 1s;
  padding-bottom: 46vh;
}
.pb-21{
  transition: 1s;
  padding-bottom: 48.3vh;
}
.pb-22{
  transition: 1s;
  padding-bottom: 50.6vh;
}
.pb-23{
  transition: 1s;
  padding-bottom: 52.9vh;
}
.pb-24{
  transition: 1s;
  padding-bottom: 55.2vh;
}
.pb-25{
  transition: 1s;
  padding-bottom: 57.5vh;
}
.pb-26{
  transition: 1s;
  padding-bottom: 59.8vh;
}
.pb-27{
  transition: 1s;
  padding-bottom: 62.1vh;
}
.pb-28{
  transition: 1s;
  padding-bottom: 64.4vh;
}



.darkblue-text{
  color: #0A2647;
}
.cream-text{
  color: #e8e3c9;
}
.darkcream-text{
  color: #e7dfb6;
}
.cream-background{
  background-color: #e8e3c9;
}
.cream-textshadow{
  text-shadow: 0 0 4px #e8e3c9;
}
.darkcream-textshadow{
  text-shadow: 0 0 2px #e7dfb6;
}
.darkcream-textshadow-lg{
  text-shadow: 0 0 7px #e7dfb6;
}
.cream-boxshadow{
  box-shadow: 0 0 10px #e8e3c9;
}
.cream-boxshadow-lg{
  box-shadow: 0 0 25px 0 #e4dfc1;
}
.transition-075s{
  transition: 0.75s;
}
.transition-050s{
  transition: 0.5s;
}



/************************************************** BUTTON *****************************************************/
.answer-btn{
  transition: 0.5s;
}
.answer-btn:hover{
  transition: 0.5s;
  background-color: #e7dfb6;
  box-shadow: 0 0 5px #e7dfb6;
  color: #0A2647;
}

.start-btn{
  transition: 0.5s;
}
.start-btn:hover{
  transition: 0.5s;
  background-color: #e7dfb6;
  box-shadow: 0 0 5px #e7dfb6;
  color: #0A2647;
}

/************************************************* TRACK ****************************************************/
.track{
  /*
  background: #1d2436;  
  background: linear-gradient(to right, #1f273bc1, #416d87bf, #e7dfb69e); */
  background: #0f1112;
}
.player-track{
  /*
  background: #1d2436;  
  background: linear-gradient(to left, #1f273bc1, #e3ddbfbb, #e7dfb65d);
  */
  background: #1a1c1fcf;
}
.darkcream-border{
  border-color: #e5e0c5;
}
.invert-img{
  transform: scaleX(-1);
}
.invert-img-y{
  transform: rotate(-90deg) scaleX(-1);
}
.rotate-ccw-90{
  transform: rotate(-90deg);
}
.max-width-200{
  max-height: 220px;
  max-width: 320px;
}

/********************************************** MOBILE TRACK ****************************************************/
.mobile-player-track{
  /*
  background: #1d2436;  
  background: linear-gradient(to left, #1f273bc1, #e3ddbfbb, #e7dfb65d);
  */
  background: #121315cf;
}


/********************************************** RESULT PAGE ****************************************************/

.icon{
  padding: 0 1vw;
}



