@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%); 
  height: 100vh;
}

.pl-3vw{
  transition: 1s;
  padding-left: 3vw;
}
.pl-6vw{
  transition: 1s;
  padding-left: 6vw;
}
.pl-9vw{
  transition: 1s;
  padding-left: 9vw;
}
.pl-12vw{
  transition: 1s;
  padding-left: 12vw;
}
.pl-15vw{
  transition: 1s;
  padding-left: 15vw;
}
.pl-18vw{
  transition: 1s;
  padding-left: 18vw;
}
.pl-21vw{
  transition: 1s;
  padding-left: 21vw;
}
.pl-24vw{
  transition: 1s;
  padding-left: 24vw;
}
.pl-27vw{
  transition: 1s;
  padding-left: 27vw;
}
.pl-30vw{
  transition: 1s;
  padding-left: 30vw;
}
.pl-33vw{
  transition: 1s;
  padding-left: 33vw;
}
.pl-36vw{
  transition: 1s;
  padding-left: 36vw;
}
.pl-39vw{
  transition: 1s;
  padding-left: 39vw;
}
.pl-42vw{
  transition: 1s;
  padding-left: 42vw;
}
.pl-45vw{
  transition: 1s;
  padding-left: 45vw;
}
.pl-48vw{
  transition: 1s;
  padding-left: 48vw;
}
.pl-51vw{
  transition: 1s;
  padding-left: 51vw;
}
.pl-54vw{
  transition: 1s;
  padding-left: 54vw;
}
.pl-57vw{
  transition: 1s;
  padding-left: 57vw;
}
.pl-60vw{
  transition: 1s;
  padding-left: 60vw;
}
.pl-63vw{
  transition: 1s;
  padding-left: 63vw;
}
.pl-66vw{
  transition: 1s;
  padding-left: 66vw;
}
.pl-69vw{
  transition: 1s;
  padding-left: 69vw;
}
.pl-72vw{
  transition: 1s;
  padding-left: 72vw;
}
.pl-75vw{
  transition: 1s;
  padding-left: 75vw;
}
.pl-78vw{
  transition: 1s;
  padding-left: 78vw;
}
.pl-81vw{
  transition: 1s;
  padding-left: 81vw;
}
.pl-84vw{
  transition: 1s;
  padding-left: 84vw;
}


